@mixin ith_misc($padding, $bgcolor:black, $alpha:0.3, $textcolor: white, $borderSize: 1px, $borderType: solid, $borderColor: black) {
	color: $textcolor;
	background: rgba($bgcolor, $alpha);
	border: $borderSize $borderType $borderColor;
	padding: $padding;
}

@mixin br_left {
	border-radius: 0 0 0 5px;
}

@mixin br_right {
	border-radius: 0 0 5px 0;
}

#ith_login {
	.frame {
		@include ith_misc(20px, $alpha: 0.5, $borderSize: 0px);

		#login {
			@include br_left;
			@include ith_misc(10px,$alpha:0.0,$borderSize: 0px,$textcolor: white ,$borderColor: white);
			border-radius: 0;
			border-bottom: 1px solid #c9c9c9;
			padding: 10px 10px 4px 4px;
			width: 80%;
			outline: none;
			&:hover {
				border-color: white;
			}
		}

		#submit {
			@include br_right;
			@include ith_misc(10px,$alpha:0.0,$borderSize: 0px,$textcolor: grey ,$borderColor: white);
			border-radius: 0;
			border-bottom: 1px solid #c9c9c9;
			padding-bottom: 4px;
			outline: none;
			&:hover {
				border-color: white;
			}
			&:active {
				color: white;
			}
		}

		.login_msg {
			margin-top: 15px;
		}

	}
}

#ith_quotes {

	.frame {
		@include ith_misc(20px, $borderSize:0px);
		.ith_title {
			@include ith_misc(2px, $borderSize:0px, $alpha:0.0);
			width: 100%;
			margin-bottom: 0;
			font-size: 140%;
			border-radius: 0;
			border-bottom: 1px solid #c9c9c9;
			&:hover{
				border-color: white;
			}
			a {
				color: white;
			}
		}
		.ith_quote {
			@include ith_misc(5px, $borderSize: 0px, $alpha: 0.1);
			width: 100%;
			min-height: 300px;
			resize: vertical;
			border-radius: 0;
			margin-bottom: 5px;
			border-bottom: 1px solid #c9c9c9;
			&:hover{
				border-color: white;
			}
		}
		.control-btn {
			@include ith_misc(5px, $borderSize: 0px,$alpha:0.0, $textcolor: #c9c9c9);
			@include unselectable;
			border-radius: 0;
			border-bottom: 1px solid #c9c9c9;
			outline:none;
			&:hover {
				border-color: white;
			}
			&:focus {
				color:white;
			}
			width: 50%;
		}
		.user_data {
			color: #858585;
			margin: 0 0 5px;
			padding: 0px 5px 0px 5px;
			text-align: right;
			&-logout {
				cursor: pointer;
				&:hover{
					color:white;
				}
				&:active {
					text-decoration: underline;
				}
			}
		}
	}
}