@mixin ith_misc($padding, $bgcolor:black, $alpha:0.3, $textcolor: white, $borderSize: 1px, $borderType: solid, $borderColor: black) {
	color: $textcolor;
	background: rgba($bgcolor, $alpha);
	border: $borderSize $borderType $borderColor;
	padding: $padding;
}

@mixin br_left {
	border-radius: 0 0 0 5px;
}

@mixin br_right {
	border-radius: 0 0 5px 0;
}

#ith_login {
	.frame {
		@include ith_misc(20px, $alpha:0.5);

		#login {
			@include ith_misc(10px, $borderColor: white);
			@include br_left;
			width: 80%;
			&:hover {
				background: rgba(#000, 0.4);
			}
		}

		#submit {
			@include ith_misc(10px, $borderColor: white);
			@include br_right;
			&:hover {
				background: rgba(black, 0.8);
			}
			&:active {
				background: black;
			}
		}

		.login_msg {
			margin-top: 15px;
		}

	}
}

#ith_quotes {

	.frame {
		@include ith_misc(20px);
		.ith_title {
			@include ith_misc(5px);
			width: 100%;
			margin-bottom: 0;
			font-size: 140%;
			border-radius: 5px 5px 0 0;
          border-bottom: none;
            a {
              color: white;
            }
		}
		.ith_quote {
			@include ith_misc(5px);
			width: 100%;
			min-height: 300px;
			resize: vertical;
			border-radius: 0;
            border-bottom: none;
		}
		.control-btn {
			@include ith_misc(5px);
			@include unselectable;
            &:hover {
              background: rgba(#000, 0.6);
            }
            &:focus {
              outline: 0;
            }
			width: 50%;
		}
		.control-btn-left {
			@extend .control-btn;
			@include br_left;
		}
		.control-btn-right {
			@extend .control-btn;
			@include br_right;
		}
		.user_data {
			color: #858585;
            margin: 0 0 5px;
        }
	}
}