.site_menu {
	border-radius: 0;
	border-width: 0;
}

.logo-text {
	-webkit-transition: 0.3s;
	   -moz-transition: 0.3s;
	    -ms-transition: 0.3s;
	     -o-transition: 0.3s;
	        transition: 0.3s;
	font-family: Oswald, $fonts;
	padding: 11px 14px;
	cursor: pointer;
	@include unselectable;
}


#logo_image {
	-webkit-transition: 1.5s;
	   -moz-transition: 1.5s;
	    -ms-transition: 1.5s;
	     -o-transition: 1.5s;
	        transition: 1.5s;
}

.logo-rotate {
	-webkit-transform: rotateZ(360deg);
	   -moz-transform: rotateZ(360deg);
	    -ms-transform: rotateZ(360deg);
	     -o-transform: rotateZ(360deg);
	        transform: rotateZ(360deg);
}

.menu_unit {
	border-bottom: 1px solid transparent;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-transition: 0.3s;
	   -moz-transition: 0.3s;
	    -ms-transition: 0.3s;
	     -o-transition: 0.3s;
	        transition: 0.3s;
	@include unselectable;
	&:hover{
		border-bottom: 1px solid #c9c9c9;
	}
	&:active{
		color:white;
	}
}

.active {
	border-bottom: 1px solid white;
	a {
		background-color: rgba(white, 0.5);
	}
}

section {
	animation-name: load;
	animation-duration: 3s;
	animation-iteration-count: 1;
}

.glyphicon {
	margin-right: 7px;
}

@keyframes load {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}