$fonts: Ubuntu, Courier, monospace;

@mixin unselectable() {
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

@font-face {
	font-family: Alteran;
	src: url("/fonts/Alteran.ttf");
}

.col-centered {
	display:inline-block;
	float:none;
}

body {
	font-family: $fonts;
	background: url("/images/bg.png");
}

.vk_desc {
	hanging-punctuation: force-end;
	white-space: pre-wrap;
}

@import "menu", "widgets", "help", "ith", "cc", "login", "register", "main", "quoter";







