$fonts: Ubuntu, Courier, monospace;

@mixin unselectable() {
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.col-centered {
	display:inline-block;
	float:none;
}

body {
	font-family: $fonts;
	background: url("/images/bg.png");
}

@import "main", "menu", "widgets", "help";







