table tr td {
	border: black solid 1px;
	padding: 20px 50px;
}

table {
	width: 80%;
	text-align: center;
	font-size: 150%;
	margin-bottom: 50px;
}

#delays1 input {
	width: 30px;
	text-align: center;
}

#controls select, #controls button {
	display: block;
	margin: 15px 0;
}

.selected {
	background-color: rgba(0, 150, 219, 0.4);
}

.show.right {
	background-color: rgba(115, 255, 22, 0.4);
}

.show.wrong {
	background-color: rgba(255, 0, 9, 0.64);
}

.show.unselected {
	background-color: rgba(0, 1, 255, 0.65);
}

.hide {
	color: white !important;
	background-color: white !important;
}